<!-- <div id="headerBackground">

  <img src="../../assets/img/aboutus.jpg">
  <h2 class="headerTitle">ABOUT US</h2>
</div>
<div id="content">
  <h2 class="headerContent">Wer sind wir?</h2>
  <p>Wir sind ein kleines Unternehmen, welches leidenschaftliche Musiker zusammenbringen will. Wir wollen gemeinsam
    Informationen austauschen und unser Wissen mit euch teilen.</p>
  <h2 class="headerContent">Was wir machen</h2>
  <p>Wir schreiben täglich Artikel über die faszinierende Musiktheorie, wollen im Musikgeschehen mitwirken und unsere
    Leidenschaft für Musik somit ausdrücken.</p>
</div>
 -->

<div class="container">
  <img src="../../assets/img/aboutus.jpg">
  <div class="top-left">
    <h2 class="headerTitle">ABOUT US</h2>
    <h2 class="headerContent">Wer sind wir?</h2>
    <p>Wir sind ein kleines Unternehmen, welches leidenschaftliche Musiker zusammenbringen will. Wir wollen gemeinsam
      Informationen austauschen und unser Wissen mit euch teilen.</p>
    <h2 class="headerContent">Was wir machen</h2>
    <p>Wir schreiben täglich Artikel über die faszinierende Musiktheorie, wollen im Musikgeschehen mitwirken und unsere
      Leidenschaft für Musik somit ausdrücken.</p>
  </div>
  <div id="placeholder">

  </div>
</div>