<div id="headerBackground">
    <h2 class="headerTitle">Impressum</h2>
  </div>
  <div id="boxAdresse">
    <p><strong>Adresse</strong></p>
    <p>Ludwig-Geißler-Schule</p>
    <p>Akademiestraße 41</p>
    <p>63450 Hanau</p>
  </div>
  
  <br>
  <div id="boxKontakt">
    <p><strong>Kontakt</strong></p>
    <p>Sie erreichen unseren Kundenservice montags bis freitags von 9:00 bis 17:00 Uhr</p>
    <p>Tel. Zentrale: +49 40 - 53 43 35-0</p>
    <p>Tel. Musikberatung: +49 40 - 53 43 35-18</p>
    <p>Fax: +49 40 - 53 43 35-84</p>
    <p>Name@Name.de</p>
  </div>
  
  <br>
  <div id="boxKontakt">
    <p>Geschäftsführer: Marek Faliszewski, Üzeyir Yilmaz</p>
    <p>Redaktion: Von den Geschäftsführern</p>
    <p>Programmierung: Von den Geschäftsführern</p>
  </div>
  