<!-- Banner -->
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav-content>
    <mat-toolbar>
      <span>Name</span>
    </mat-toolbar>

    <!-- Navbar -->
    <mat-accordion>
      <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Navigation
          </mat-panel-title>
          <mat-panel-description>
          {{panelOpenState ? 'Geöffnet' : 'Geschlossen'}}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <ul>
          <li><a class="active" href="#">Home</a></li>
          <li><a href="#">News</a></li>
          <li><a href="#">Contact</a></li>
          <li><a href="#">About</a></li>
        </ul>
      </mat-expansion-panel>
    </mat-accordion>

  </mat-sidenav-content>
</mat-sidenav-container>