<!-- Banner -->
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav-content>
    <mat-toolbar>
      <a id="titleName" routerLink="/">Name</a>
    </mat-toolbar>

    <!-- Navbar -->
    <mat-accordion>
      <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Navigation
          </mat-panel-title>
          <mat-panel-description>
          {{panelOpenState ? 'Geöffnet' : 'Geschlossen'}}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <ul>
        <a class="navbar" routerLink="/news">News</a>
        <a class="navbar" routerLink="/contact">Contact</a>
        <a class="navbar" routerLink="/about">About</a>
        <a class="navbar" routerLink="/impressum">Impressum</a>
        </ul>
      </mat-expansion-panel>
    </mat-accordion>

  </mat-sidenav-content>
</mat-sidenav-container>