<div id="headerBackground">
  <h2 class="headerTitle">CONTACT</h2>
</div>
<div id="box">
  <p>
    <mat-form-field appearance="legacy">
      <mat-label>Name</mat-label>
      <input matInput placeholder="Placeholder">
      <mat-icon matSuffix>account_box</mat-icon>
      <mat-hint class="hint">Geben Sie Ihren Namen ein Sie Hurensohn</mat-hint>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="legacy">
      <mat-label>E-Mail Adresse</mat-label>
      <input matInput placeholder="Placeholder">
      <mat-icon matSuffix>account_box</mat-icon>
      <mat-hint class="hint">Wir versprechen, dass wir Ihre E-Mail nicht an Dritte weitergeben</mat-hint>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="legacy">
      <mat-label>Thema</mat-label>
      <input matInput placeholder="Placeholder">
      <mat-icon matSuffix>account_box</mat-icon>
      <mat-hint class="hint">Worum geht es?</mat-hint>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="fill">
      <mat-label>Kommentar</mat-label>
      <textarea matInput></textarea>
    </mat-form-field>
  </p>
  <p>
    <button mat-raised-button color="secondary">Submit</button>
  </p>
</div>