:host {
    background-color: rgb(241, 241, 241);
    margin-left: 35%;
    margin-right: 35%;
  }

  mat-form-field{
    width: 50%;
    margin: 2px;
  }

  #box{
    margin-left: 30%;
  }

  mat-label{
    color: black;
  }

  .hint{
    color: black !important;
  }
